# for empty directory
!.gitkeep

# back files
*~

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

bin
share
demo/sample

src/l1l2inv
src/lcurve_interp
src/optimal_lambda
tools/cross_sect
tools/extract
tools/recover
xmat/src/l1l2inv_xmat
xmat/tools/recover_xmat
demo/src/makeinput

make.config

