############################################################
# Please edit following lines according to your system.

# BLAS library
BLAS_LIB	= -lblas

# GSL library
GSL_LIB		= -lgsl -lgslcblas

# Extra libralies
EXTRA_LIBS = 

# openMP flag
OPENMP_FLG	= -fopenmp

# C compiler
CC		= gcc
# make
MAKE		= make
# install
INSTALL		= install
# archiver
AR			= ar
# remove
RM			= rm -f

# C FLAGS
CFLAGS		= -O3
############################################################
